@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.header-navbar,
.nav,
.logo,
.dropdown {
  background-color: #0779e4;
}

.header-navbar {
  font-family: "Gugi", cursive;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav {
  align-content: center;
}
.nav:nth-child(2) {
  /* bootstrap 에서 flax  먹임*/
  justify-content: center;
}
.nav:last-child {
  justify-content: flex-end;
}

.logo {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  margin: 20px 0;
}
.nav-link {
  color: var(--dws-col-4);
}
